.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela th,
.tabela td {
  border: 1px solid #ddd;
  padding: 8px;
}

.status {
  font-weight: bold;
}

.sucesso {
  color: green;
}

.erro {
  color: red;
  font-weight: bold;
}
