.container {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  font-family: Arial;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fafafa;
}

.acoes {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.aceitar {
  background-color: #2e8b57;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.aceitar:hover {
  background-color: #256b45;
}

.recusar {
  background-color: #b83434;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.recusar:hover {
  background-color: #922828;
}
